page-tithe {
  ion-content * {
      font-family: aleo;
    }
    ::-webkit-input-placeholder {
       text-align: center;
       font-size:14px;
    }
    input{
      text-align:center;
      font-size:24px;
    }
    ion-content * {
        font-family: aleo;
      }
    .checkbox-ios .checkbox-checked {
        border-color: brown;
        background-color: brown;
    }
    .checkbox-ios .checkbox-icon {
      position: relative;
      width: 21px;
      height: 21px;
      border-width: 1px;
      border-style: solid;
      border-radius: 100%;
      border-color: #c8c7cc;
      background-color: #fff;
  }

  .item-ios.item-block .item-inner {
     padding-right: 8px;
     border-bottom: none;
  }

  ion-scroll > div.scroll-content {
      padding-top: 0px !important;
  }


   .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
     border-bottom: none;
   }

  .list-ios > .item-block:first-child {
       border-top:none;

  }
  .list-md .item-block .item-inner {
       border-top:none;
       border-bottom: none;
  }

    .inviteToPrayerCircleDiv{
      position:fixed;
      display:block;
      bottom:0px;
      left:0px;
      width:100%;
      padding:5px;
      height:54px;
    }
    .header{
      min-height: 40px;
      text-align: center;
      font-size: 18px;
      padding-top: 10px;
    }
    ion-checkbox{
      border-radius:50%;
    }
    .checkbox-md .checkbox-icon{
       border-radius:50%;
       border-width:1px;
    }
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img{
      height:60px;
      margin-top:10px;
    }
    .footerButton{
      margin:0;
    }
    .item.item-md .checkbox-md {
      margin : 9px 3px 9px 4px;
    }
    .checkbox-md .checkbox-icon {
        position: relative;
        width: 21px;
        height: 21px;
        margin-right: 5px;
    }
    .checkbox-md .checkbox-checked .checkbox-inner {
        position: absolute;
        top: 3px;
        left: 6px;
        width: 6px;
        color:red;
    }
    .checkbox-md .checkbox-checked {
        border-color: red;
        background-color: red;
    }
 
    ::-webkit-scrollbar {
        display: none;
        width: 0 !important;
    }
}
