page-auth {
  ::-webkit-input-placeholder {
     text-align: center;
     font-size:14px;
  }
  input{
    text-align:center;
    font-size:24px;
  }
  ion-content * {
      font-family: aleo;
    }
}
