<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      My Profile
    </ion-title>
  </ion-navbar>
</ion-header> -->



<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col style="height:100px;">
        <img src="assets/img/cross.png" style="width:100%;height:100%;"/>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center style="font-size:18px;">
        Christian Prayer Power
      </ion-col>
    </ion-row>
    <ion-row style="margin-top:25px;">
      <ion-col text-center style="color:red;font-size:18px;">
        In order to login,<br>
        Please enter your details below
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item style="border-top:none;padding-left:0px;">
            <ion-label floating text-center>First Name</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item style="padding-left:0px;">
            <ion-label floating text-center>Last Name</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item style="border-top:none;padding-left:0px;">
            <ion-label floating text-center>Phone Number</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <input type="checkbox" id="termsAndConditionsAcceptance" style="float:right;"/>
      </ion-col>
      <ion-col>
        I accept the <span style="color:red;">terms and conditions</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full color="danger">Create My Profile</button>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="false">
  <div style="text-align:center;margin-top:10px;font-size:18px;">
    <b>My Profile</b>
  </div>
  <div style="position:relative;display:block;width:100%;height:300px;">
    <div style="position:absolute;left:0;right:0;top:0;bottom:0;width:200px;height:200px;border-radius:200px;margin:auto;border:2px solid gray;">
    </div>
  </div>
  <div style="text-align:center;margin-top:10px;font-size:18px;color:red;">
    <b>JAMES HUNT</b>
  </div>
  <div style="text-align:center;margin-top:10px;font-size:18px;">
    <b>+91 7022 62 3975</b>
  </div>
  <div padding style="text-align:center;margin-top:10px;font-size:18px;">
    <button ion-button full color="danger">Create My Profile</button>
  </div>
</ion-content>

<ion-content padding *ngIf="false">
  <div class="title">
    <b>Create My Prayer Circle</b>
  </div>
  <div class="googleButton">
    <button ion-button block style="background-color:red;width:100%;height:100%;">
      <ion-icon ios="ios-call" md="md-call" style="font-size:30px;margin-right:15px;"></ion-icon>
        <b style="font-size:19px;">Choose Contacts from My Phone</b>
    </button>
  </div>
  <div class="facebookButton">
    <button ion-button block style="background-color:blue;width:100%;height:100%;">
      <ion-icon ios="ios-call" md="md-call" style="font-size:30px;margin-right:15px;"></ion-icon>
        <b style="font-size:19px;">Choose Contacts from Facebook</b>
    </button>
  </div>
  <ion-grid style="padding-top:15px;">
    <ion-row>
      <ion-col col-2>
        <ion-checkbox style="float:right;border-radius:20%;">
        </ion-checkbox>
      </ion-col>
      <ion-col col-10 style="font-size:16px;">
        Connect With Friends Of My friends
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="true">
  <ion-toolbar>
    <div style="width:100%;height:100%;text-align:center;">
      <button ion-button full style="background-color:white;"  (click)='openFilters();'>
        <ion-icon ios="ios-home" md="md-home" style="color:red;padding-right:10px;font-size:30px;"></ion-icon>
        <span style="color:black;font-size:20px;"><b>Home</b></span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
