<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      My Profile
    </ion-title>
  </ion-navbar>
</ion-header> -->



<ion-content padding  *ngIf="pageNumber == 'first'">
  <ion-grid>
    <ion-row style="position:relative;min-height:150px;height:auto;">
      <div class="imageDiv" id="imageDiv" tappable (click)="getImageFromGallery();">
        <span id="spanUploadPhoto" *ngIf="!base64Image" style="display:block;margin-top: 60px;font-size: 18px; color:white">Upload <br> Photo</span>
        <img *ngIf="base64Image" [src]="base64Image"  style="width:100%;height:100%;border-radius:100%;"/>
      </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item style="border-top:none;padding-left:0px;">
            <ion-label floating text-center>First Name</ion-label>
            <ion-input [(ngModel)]=firstName id="firstName"></ion-input>
          </ion-item>
          <ion-item style="padding-left:0px;">
            <ion-label floating text-center>Last Name</ion-label>
            <ion-input [(ngModel)]=lastName id="lastName"></ion-input>
          </ion-item>
          <ion-item style="border-top:none;padding-left:0px;">
            <ion-label floating text-center>Phone Number</ion-label>
            <ion-input [disabled]="flagToEdit || firstTimeAccount" [(ngModel)]=phoneNumber type="tel" id="phoneNumber"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
      <ion-row style="margin:auto;" *ngIf="flagToEdit == 0">
      <ion-col col-1>
        <ion-checkbox style="float:right;border-radius:20%;" [(ngModel)]="checkStatus" id="termsAndConditionsAcceptance">
        </ion-checkbox>
      </ion-col>
      <ion-col style="font-size:15px;">
        I accept the <span style="color:red;" tappable (click)="showModal();">terms and conditions</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <button tappable (click)="makejson()" ion-button full color="danger">
        <span *ngIf="flagToEdit == 0" style="text-transform:capitalize;">Create My Profile</span>
        <span *ngIf="flagToEdit == 1" style="text-transform:capitalize;">Update</span>
      </button>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="pageNumber == 'edit'">
  <div style="text-transform:capitalize;text-align:center;margin-top:10px;font-size:18px;">
    <h3><b>My Profile</b></h3>
  </div>
  <div style="position:relative;display:block;width:100%;height:300px;">
      <div style="position:absolute;left:0;right:0;top:0;bottom:0;width:200px;height:200px;border-radius:200px;margin:auto;">
      <img *ngIf="base64Image" [src]="base64Image" style="width:100%;height:100%;border-color:white;border-radius:100%;">
      <img *ngIf="!base64Image" src="assets/images/default.png"  style="width:100%;height:100%;border-radius:100%;"/>
      </div>
  </div>
  <div style="text-align:center;margin-top:10px;font-size:18px;color:red;">
    <b>{{ firstName }} {{lastName || "Raj"}}</b>
  </div>
  <div style="text-align:center;margin-top:10px;font-size:18px;">
    <b>{{phoneNumber || "+91 7022 62 3975"}}</b>
  </div>
  <div padding style="text-transform:capitalize;text-align:center;margin-top:10px;font-size:18px;">
    <button ion-button full color="danger" tappable (click)="moveToEditScreen();">
      <span style="text-transform:capitalize;">Edit Details</span>
    </button>
  </div>
  <div padding style="text-transform:capitalize;text-align:center;margin-top:10px;font-size:18px;">
    <a (click)="sendToSubscriptionPage()"><u>
      <span style="text-transform:capitalize;">Subscription Options</span>
    </u></a>
  </div>
</ion-content>

<ion-content padding *ngIf="pageNumber == 'second'">
  <div class="title">
    <b>Create My Prayer Circle</b>
  </div>
  <div class="googleButton">
    <button ion-button block tappable (click)=getContacts(); style="background-color:red;width:100%;height:100%;">
      <img src="assets/images/book.png" style="width: 42px;height: 70%;margin-right:10px;"/>
        <b style="font-size:16px;text-transform:capitalize;">Choose Contact from My Phone</b>
    </button>
  </div>
  <ion-grid style="padding-top:15px;">
    <ion-row>
      <ion-col col-2>
        <ion-checkbox checked [(ngModel)]="checkedDataObject.check" style="float:right;border-radius:20%;">
        </ion-checkbox>
      </ion-col>
      <ion-col col-10 style="font-size:16px;">
        Connect With Friends Of My friends
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row style="margin-top:20%;">
    <ion-col>
      <span style="color:#ee2f24;">Invitations will be sent automatically to the people you have selected to be part of your Prayer Circle when you send out your first prayer request</span>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer *ngIf="pageNumber == 'edit' || flagToEdit == 1 || pageNumber == 'second'" style="height:50px;">
    <button ion-button full style="background-color:white;margin:0;height:100%;"  tappable (click)='changePage();'>
      <ion-icon ios="ios-home" md="md-home" style="color:red;padding-right:10px;font-size:30px;"></ion-icon>
      <span style="text-transform:capitalize;color:red;font-size:20px;">
        <b>Home</b>
      </span>
    </button>
</ion-footer>
