<!--
  Generated template for the Test page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content *ngIf="showEdit">
  <p *ngIf="!totalNoOfReuests" style="text-align:center;font-size:20px;"><b>You have<br> 0 Prayer Requests Waiting</b></p>
  <div *ngIf="totalNoOfReuests" swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)"
   (throwoutright)="voteUp(true)"
    id="card-stack" style="height:100%;">
    <ion-card #mycards1 swing-card *ngFor="let pageData of cards;let i=index" [attr.data-index]="i">
      <div class="has-footer" style="width:100%;height:100%;">
        <div
        style="position:relative;display:block;padding:5px;margin-left:5px;margin-right:5px;font-size:20px;text-align:center;">
          <b>You have <br>{{totalNoOfReuests - cards.length + i + 1}} Prayer Requests Waiting</b>
        </div>
        <ion-grid *ngIf="noOfRequest" style="height:15%;">
          <ion-row style="height:100%;">
            <ion-col *ngIf="!pageData.anonymous" style="height:100%;max-width: 20%;">
              <img [src]="pageData.url" tappable (click)="openModal(pageData.url);"
              style="position: absolute;height: 70%;width: 90%;top: 0;left: 0;border-radius:50%;margin: auto;bottom: 0;right: 0;"/>
            </ion-col>
            <ion-col *ngIf="pageData.anonymous" style="height:100%;max-width: 20%;">
              <img src="https://s3-us-west-1.amazonaws.com/pp-cpp/ananymous/default.png"
              style="position: absolute;height: 70%;width: 90%;top: 0;left: 0;border-radius:50%;margin: auto;bottom: 0;right: 0;"/>
            </ion-col>
            <ion-col *ngIf="!pageData.anonymous" style="font-size:22px;padding-top:8%;text-align:left;">
              <b>{{pageData.firstname}} {{pageData.lastname}}</b>
            </ion-col>
            <ion-col *ngIf="pageData.anonymous" style="font-size:22px;padding-top:8%;text-align:left;">
              <b>Anonymous</b>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf="noOfRequest" tappable (click)="openModal(pageData.prayermessage,'text');"
        style="position:relative;text-align:left;display:block;width:100%;border-radius:10px;height:20%;font-size:18px;overflow:hidden;background-color:white;color:black;padding:10px;">
          {{pageData.prayermessage}}
        </div>
        <ion-row style="height:10%;margin-top:4%;">
          <ion-col style="height:100%;">
              <img *ngIf="pageData.prayerimages && pageData.prayerimages[0] && pageData.prayerimages[0].image"
              [src]="pageData.prayerimages[0].image" style="height:100%;border-radius:10px;"
              tappable (click)="openModal(pageData.prayerimages[0].image);"/>
          </ion-col>
          <ion-col style="height:100%;">
              <img *ngIf="pageData.prayerimages && pageData.prayerimages[1] && pageData.prayerimages[1].image"
               [src]="pageData.prayerimages[1].image" style="height:100%;border-radius:10px;"
               tappable (click)="openModal(pageData.prayerimages[1].image);"/>
          </ion-col>
          <ion-col style="height:100%;">
              <img *ngIf="pageData.prayerimages && pageData.prayerimages[2] && pageData.prayerimages[2].image"
              [src]="pageData.prayerimages[2].image" style="height:100%;border-radius:10px;"
              tappable (click)="openModal(pageData.prayerimages[2].image);"/>
          </ion-col>
        </ion-row>
        <div padding *ngIf="!prayermessage && showEdit && noOfRequest" tappable (click)="showKeyBoard();"
         style="position:relative;display:block;padding:5px;height:20%;font-size:18px;margin-top:10%;border:1px solid #ec918c;border-radius:10px;margin:10px;">
          <img src="assets/images/edit.png" style="position:absolute;width:20%;left:0;right:0;top:0;bottom:0;margin:auto;"/>
        </div>
        <div padding *ngIf="prayermessage && showEdit && noOfRequest" tappable (click)="showEdit=false;" id="{{i}}Message"
            style="position:relative;display:block;padding:5px;margin:10px;text-align:left;height:20%;overflow:scroll;padding:5px;font-size:18px;border:1px solid #ec918c;border-radius:10px;">
            <!-- {{prayermessage}} -->
        </div>
        <ion-row *ngIf="noOfRequest" style="position:relative;" id="doneButton">
          <ion-col style="text-align:center;padding-top:5%;">
              <img src="assets/images/leftarrow.jpg" style="width: 70%;margin-left: 10%;"/>
              <b>Decline</b>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col style="text-align:center;padding-top:5%;">
              <img src="assets/images/greenarrow.jpg" style="width: 70%;position:relative;margin-left:19%;"/>
              <b>Accept</b>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
  </div>
</ion-content>
<ion-content padding *ngIf="!showEdit && !animate && noOfRequest">
  <ion-grid>
    <ion-row style="margin: 0;margin-top: 4%;min-height:200px;">
      <ion-col style="height:100%;">
        <ion-textarea maxlength="300" [(ngModel)]="prayermessage" id="textarea" ng-keyup="strictPrayerMessageCharacters()"
        style="width:100%;min-height:200px;resize:none;border:1px solid red;font-size:18px;border-radius:20px;padding-top:15px;">
        </ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row style="margin: 0;margin-top: 4%;height:50px;">
      <ion-col style="height:100%;">
        <button ion-button full style="background-color: red;color: white;width: 60%; margin-left: 20%;border-radius: 10px;height: 50px;"
          tappable (click)='doneButton();'>
          <span style="color:white;font-size:20px;text-transform: capitalize;z-index:99;"><b>Done</b></span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="!showEdit && animate">
  <div style="width:100%;height:100%;">
		<img
			src="" class="img"
			id="animpart1" ><!--style="width:100%;height:100vh;" /-->
		<div id="animpart2" class="">
			<p id="textverse" style="margin-bottom:10px" ></p>
			<p id="verse" style="font-size: 15px; margin-top:0px"></p>
		</div>
	</div>
</ion-content>
<ion-footer style="height:50px;" *ngIf="showEdit || animate">
  <button ion-button full style="background-color:white;margin:0;height:100%;"  tappable (click)='sendToHomeScreen();'>
    <ion-icon ios="ios-home" md="md-home" style="color:red;padding-right:10px;font-size:30px;"></ion-icon>
    <span style="color:red;font-size:20px;text-transform: capitalize;"><b>Home</b></span>
  </button>
</ion-footer>
